<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://localhost:5000/css/styles.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <h1><%=info.name%></h1>
    <h3><%=info.grade%></h3>
    <hr>
    <p><%=info.dateJoined%></p>
    <hr>
    <p><%=stats.points%></p>
    <p><%=stats.asked%></p>
    <p><%=stats.answered%></p>
    <p><%=stats.verified%></p>
</body>
</html>